/*Sign-in page*/

.globalFont {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

h1 {
    display: block;
    font-size: 3em;
}

a {
    text-decoration: none;
    font-weight: 500;
    color: #0291bd;
}

a:hover {
    text-decoration: underline;
}

.login-popup {
    border-radius: 0.5rem;
    width: 22rem;
    border: 0px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.29), 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 10px 22px;
    background-color: #ececec;
    margin: auto;
    margin-top: 10rem;
}

.login-popup>* {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.login-popup>form {
    display: grid;
    grid-template-columns: 90%;
    grid-auto-rows: 3.5rem;
    margin-bottom: -1rem;
}

.login-popup>form>input {
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    border-width: 1px;
    border-color: rgb(219, 219, 219);
    padding-left: 2%;
}

.instruction-text {
    display: block;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.sign-in-button {
    display: table-cell;
    border-radius: 0.3rem;
    border-width: 0px;
    width: 90%;
    margin-left: 5%;
    height: 2.5rem;
    font-weight: bold;
    text-align: center;
    background-color: #0291bd;
    color: white;
}

.sign-in-button:hover {
    background-color: #006e90;
    -webkit-transition: all 130ms ease-in-out;
    -moz-transition: all 130ms ease-in-out;
    -o-transition: all 130ms ease-in-out;
    transition: all 130ms ease-in-out;
}

.reset-link {
    float: left;
    margin-left: 5%;
    font-size: 0.8rem;
}

.google-sign-in-button {
    cursor: pointer;
    transition: background-color .3s, box-shadow .3s;
    display: table-cell;
    border-radius: 0.3rem;
    width: 90%;
    margin-left: 5%;
    height: 2.5rem;
    font-weight: 500;
    text-align: center;
    border: none;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    color: #757575;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;
}

.google-sign-in-button:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
}

.google-sign-in-button:active {
    background-color: #eeeeee;
}

.google-sign-in-button:active {
    outline: none;
    box-shadow:
        0 -1px 0 rgba(0, 0, 0, .04),
        0 2px 4px rgba(0, 0, 0, .25),
        0 0 0 3px #c8dafc;
}

/*Sign-up page*/
.container2 {
    height: 30em;
    width: 22em;
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    padding: 10px 22px;
    background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);

    margin: auto;
    margin-top: 80px;

}

.container2 div {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.create-button {
    height: 2.5rem;
    width: 45rem;
    font-weight: bold;
}

.container2 input {
    height: 2rem;
    width: 300em;
}


/*reset password page*/
.container3 {
    height: 15em;
    width: 22em;
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    padding: 10px 22px;
    background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);

    margin: auto;
    margin-top: 120px;
}

.container3 div {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.reset-password-text {
    display: block;
    font-weight: bold;
    font-size: 30px;
}

.reset-email-textbox {
    height: 35px;
    width: 300px;
}

.reset-btn {
    height: 45px;
    width: 300px;
    font-weight: bold;
}

/*Main page*/