/* Global affecting */

.globalFont {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

h1 {
    display: block;
    font-size: 2.5em;
}

a {
    text-decoration: none;
    font-weight: 500;
    color: #0291bd;
}

a:hover {
    text-decoration: underline;
}

/* Login Signup and Reset Password Pages */

.login-signup-prompt {
    display:table;
    border-radius: 0.5rem;
    width: 22rem;
    border: 0px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.29), 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 10px 22px;
    background-color: #ececec;
    margin: auto;
}

.login-signup-prompt>* {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.login-signup-prompt>form {
    display: grid;
    grid-template-columns: 90%;
    grid-auto-rows: 3.5rem;
}

.login-signup-prompt>form>input {
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    border-width: 1px;
    border-color: rgb(219, 219, 219);
    padding-left: 2%;
}

.instruction-text {
    display: block;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.long-main-button {
    display: table-cell;
    border-radius: 0.3rem;
    border-width: 0px;
    width: 90%;
    margin-left: 5%;
    height: 2.5rem;
    font-weight: bold;
    text-align: center;
    background-color: #0291bd;
    color: white;
}

.long-main-button:hover {
    background-color: #006e90;
    -webkit-transition: all 130ms ease-in-out;
    -moz-transition: all 130ms ease-in-out;
    -o-transition: all 130ms ease-in-out;
    transition: all 130ms ease-in-out;
}

.notification-text {
    color: red;
    display: block;
    float: left !important;
    margin-left: 6%;
    font-size: 0.8rem;
}

.reset-link {
    display: block;
    margin-left: 6%;
    font-size: 0.8rem;
}

.google-sign-in-button {
    cursor: pointer;
    transition: background-color .3s, box-shadow .3s;
    display: table-cell;
    border-radius: 0.3rem;
    width: 90%;
    margin-left: 5%;
    height: 2.5rem;
    font-weight: 500;
    text-align: center;
    border: none;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    color: #757575;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;
}

.google-sign-in-button:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
}

.google-sign-in-button:active {
    background-color: #eeeeee;
}

.google-sign-in-button:active {
    outline: none;
    box-shadow:
        0 -1px 0 rgba(0, 0, 0, .04),
        0 2px 4px rgba(0, 0, 0, .25),
        0 0 0 3px #c8dafc;
}
/*ManagerView*/

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    max-width: 80rem;
    height: 40rem;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    display: flex;
}
.profile-pane, .garage-pane {
    padding: 2rem;
    position: relative;/*adds a line*/ 
}
.profile-pane::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -1px; 
    width: 1px; 
    background-color: #ccc;
}
.garage-pane {
    display:flex;
    padding: 20px;
    overflow-y: auto;
    height: 35rem;
    margin-top: 2.5rem;
}
.profile-info {
    margin-bottom: 20px;
}
.profile-picture {
    width: 150px;
    border-radius: 50%;
    margin-top: 8rem;
    margin-bottom: 5rem;
}

.garage-item {
    width: 45rem;
    margin-left: 4rem;
    margin-right: 6rem;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}
.garage-item:hover {
    background-color: #e0e0e0;
    color: #333; 
}
.garage-item:active {
    background-color: #20c8db;
    color: #bdb5b5; 
}

.add{
    position: fixed;
    width: 5rem;
    height: 1.5rem;
    top: 8%;
    right: 12%;
  }


.form {
    display: flex;
    flex-direction: column;
}
.form label{
    padding: 5px;
    margin-right: 1rem;
}
.form span{
    padding: 5px;
    margin-top:-1.8rem;
    margin-left: 3rem ;
}
.edit{
    width: 90%;
    margin-left: 0.2rem;
    margin-top: 2.6rem;
    height: 2.5rem;

}
.popup{
    background: rgba(0, 0, 0, .06);
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.popup-content {
    width: 25rem; 
    height: 25rem;
    padding: 20px;
    border: 1px solid #000; 
    background-color: #fff; 
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .input>input{
    margin-bottom: 1rem;
    width: 20rem;
    height: 1.5rem;
    border-radius: 0.3rem;
    border-width: 0.1rem;
    border-color: rgb(219, 219, 219);
    padding-left: 2%;

  }

  .hours{
    margin-bottom: 1rem;
  }
  .opening{
    margin-left: -0.4rem;
  }

  .startField{
    margin-bottom: 1rem;
    width: 6rem;
    height: 1.5rem;
    border-radius: 0.3rem;
    border-width: 0.1rem;
    border-color: rgb(219, 219, 219);
    padding-left: 2%;
  }

  .endField{
    margin-bottom: 1rem;
    width: 6rem;
    height: 1.5rem;
    border-radius: 0.3rem;
    border-width: 0.1rem;
    border-color: rgb(219, 219, 219);
    padding-left: 2%;
  }

  .addBtn{
    border-radius: 0.3rem;
    border-width: 0px;
    width: 90%;
    margin-top: 2rem;
    margin-left: -0.1rem;
    height: 2.5rem;
    font-weight: bold;
    text-align: center;
    background-color: #0291bd;
    color: white;
 
  }
  .addBtn:hover {
    background-color: #006e90;
    -webkit-transition: all 130ms ease-in-out;
    -moz-transition: all 130ms ease-in-out;
    -o-transition: all 130ms ease-in-out;
    transition: all 130ms ease-in-out;
}